<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.0" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.Plugin.MethodBinding" version="3.5.0" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.Tests" version="3.5.0" targetFramework="net45" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="net45" />
  <package id="Scorchio.NinjaCoder.MvvmCross.MSTests.Tests" version="1.0.2" targetFramework="net45" />
  <package id="Scorchio.NinjaCoder.MvvmCross.Tests" version="1.0.1" targetFramework="net45" />
  <package id="Scorchio.NinjaCoder.XUnit.Tests" version="1.0.0" targetFramework="net45" />
  <package id="SQLite.Net.Async-PCL" version="2.5.1" targetFramework="net45" />
  <package id="SQLite.Net-PCL" version="2.5.1" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>