<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="314" package="com.inflowinventory.mobile">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="Item List" android:icon="@drawable/Icon"></application>
</manifest>